INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=adminpassword
INFLUXDB_ORG=fems
INFLUXDB_BUCKET=gems_test
INFLUXDB_TOKEN=dev-token-change-me

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

FLASK_ENV=development
TARGET_UNIT_KWH_PER_UNIT=0
